<a href="#" class="toggle"></a>
<div class="nav-content">
	Logged in as: <strong>{{userProfile.name}}</strong><br /><br />
	<strong>Settings:</strong><br /><br />
	<form>
		{{#each userOptions}}
			<fieldset>
				<legend>{{first_to_upper @key}}</legend>
				{{#each this}}
					<label>
						<input type="radio" name="{{@../key}}" value="{{this}}" {{#check_prop ../../userPrefs @../key this}}checked{{/check_prop}}>
						{{first_to_upper this}}
					</label>
				{{/each}}
			</fieldset>
			<br />
		{{/each}}
	</form>
	<br /> 
	{{!-- My projects:<br />
	<a href="#" onclick="return confirm('Are you sure you wish to switch projects?')">Project 1</a><br />
	<a href="#" onclick="return confirm('Are you sure you wish to switch projects?')">Project 2</a><br /> --}}
	<br />
	<a href="#" class="show-modal">View Tutorial</a><br /><br />
	<a href="#" class="logout">Logout</a><br /><br />
	<em>Changes are automatically saved.</em><br /><br />
	<em>Send feedback to: <a href="mailto:feedback@scribo.co">feedback@scribo.co</a></em><br /><br />
</div>
<div class="nav-logo">S<span>cribo</span></div>